/*-------------------------------- Utilities ---------------------------------*/

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
.center{
    margin: auto;
}

.cw-50{width: 50%;}
.cd-80{width: 80%;}
.cd-20{width: 20%;}
.cd-14{width: 14%;}
.cd-5{width: 5%;}
.cd-48{width: 48%;}
.cd-1{width: 1%;}
.cd-40{width: 40%;}



.hover-custom:hover{
    background-color: white;
    color: black !important;
    transform: scale(1.1);
    box-shadow: 1px 1px #ffffff69;
}


.transition-custom{
    transition: 0.5s;
}

.b-radius-custom{
    border-radius: 7px;
}

.image-custom{
    width: 50%;
    height: 66%;
}

.paragraph-custom{
    padding: 10px;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.dropdown-menu{
    min-width: 20px !important;
}


.starred{
    background: radial-gradient(yellow 50%, transparent 50%);
}


.searchChange{
    background-color: aqua;
}

.tooltiptext{
    position: absolute;
    color: black;
    z-index: -1;
    visibility: hidden;
}

#tooltip:hover .tooltiptext{
    visibility: visible;
}





/* Navbar */

#user-nav{
    border-radius: 4px;
    /* background-color:rgba(0, 0, 0, 0.2); */
    position: sticky;
    top: 0;
}

#user-nav::before{
    content: "";
    background-color: rgb(68, 68, 68);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}





/*----------------------- Home section -------------------------- */

#home-section{
    height: 549px;
}

#home-section::before{
    content: "";
    background: url("../pictures/background_img.png") no-repeat center center/cover;
    position: absolute;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0;
}


.utilities{
    /* width: 40%; */
    flex-basis: 100%;
    height: auto;
    border-radius: 10px 0px;
    background-color: white;
    box-shadow: -10px -10px 9px -2px  rgb(70 70 70 / 12%), 10px 10px 9px -2px rgb(255 255 255 / 50%);
    margin: 2rem;
    text-align: center;
}


/* Animation */

#home-left-sec{
    position: relative;
    animation: leftBox 3s ease-in;
}
#home-right-sec{
    position: relative;
    animation: rightBox 3s ease-in;
}

@keyframes leftBox {
    0%{left: -100%;}
    90%{left: 2%;}
    100%{left: 0%;}
}
@keyframes rightBox {
    0%{right: -100%;}
    90%{right: 2%;}
    100%{right: 0%;}
}




/*-------------------------------- buttons ---------------------------------------*/


.btn-user{

    border-radius: 4px;
    background: none;
    border: 1px solid #7c1aeb;
    padding: 12px 17px;
    font-size: medium;

}


#search-btn{
    position: relative;
    right: 34px;
    background: none;
    border: none;
}


/*-------------------------------- Login and Register -------------------------------*/

#login{
    height: 600px;
    width: 100vw;
    background-color: gray;
    padding: 0 30px;
}

.custom-width-inps{
    width:70%;
}

#login-seg{
    max-width: 500px;
    background-color: white;
    height: 100%;
    padding: 2rem;
    /* margin: 2.3rem; */
}


/*-------------------------------- Dashboard --------------------------------*/

.dashboard{
    /* height: 1000px; */
    /* overflow-y:scroll; */
    margin: 1.2rem;
}









/*------------------------------- taskList -----------------------*/


.table{
    width: 100%;
    
}

.actual-table button{
    color: white;
    /* padding: 6px; */
    border-radius: 6px;
    border: none;
    outline: none;
}


.table-header{
    background-color: rgb(214 209 209);
    border-radius: 10px 10px 0 0;

}



.table-header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
    flex-wrap: wrap;
}

.table-header-1 p{
    color: black;
}


.add-task{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
    color: #0298cf;
}

.table-section{
    height: 650px;
    overflow: auto;

}

.actual-table{
    width: 100%;
    table-layout: fixed;
    /* min-width: 1000px; */
}

.actual-table thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

.actual-table th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 3px;
    word-break: break-all;
    text-align: center;
}

.actual-table tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}

.actual-table tr{
    width: 110%;
}

.heaDing tr td{
    text-align: left;
    padding-left:10px;
    font-weight: 600;
}








.pagination{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    background: #8493a5;
}

.pagination div{
    padding: 10px;
    border: 2px solid #d5d0d0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0298cf;
    color: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
}






/*------------------------------- point navigation ---------------------------------*/

.navigation{
    display: flex;
    justify-content: center;
}

.navigation a{
    padding: 12px 24px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.active-navigation{
    border-top: 4px solid rgb(88 163 238 / 63%) !important;
    border-left: 1px solid rgb(88 163 238 / 63%) !important;
    border-right: 1px solid rgb(88 163 238 / 63%) !important;
    border-radius: 50% 50% 0 0;
}




/*---------------------Analytics--------------------*/

.analytics{
    border: 1px solid black;
}
